html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }


#img1{
    position: relative;
}

.overlay{
    width: 92%;
    height: 0;
    background: rgba(0, 0, 0, 0.827);
    position: absolute;
    /* top: 0; */
    bottom: 0;
    left: 4%;
    color: white;
    transition: 1s ease;
    opacity: 0;
}

#img1:hover .overlay{
    height: 30%;
    opacity: 1;
}
