{% extends 'heritage/base.html' %}


{% block content %}
    <!--Main Navigation-->
    <header>

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            
            <div class="container">

                <!-- Navbar brand -->
                <a class="navbar-brand" href="#">Heritage School</a>

                <!-- Collapse button -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Collapsible content -->
                <div class="collapse navbar-collapse" id="basicExampleNav">

                    <!-- Links -->
                    <ul class="navbar-nav mr-auto smooth-scroll">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about' %}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'curriculum' %}">Curriculum</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'news' %}">News/Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'awwards' %}">Awwards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'give' %}">Give</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                    </ul>
                    <!-- Links -->

                    <!-- Social Icon  -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a class="nav-link"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
                <!-- Collapsible content -->

            </div>

        </nav>
        <!--/.Navbar-->

        <!--Mask-->
        <div id="intro" class="view">

            <div class="mask rgba-black-strong">

                <div class="container-fluid d-flex align-items-center justify-content-center h-100">

                    <div class="row d-flex justify-content-center text-center">

                        <div class="col-md-10">

                            <!-- Heading -->
                            <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Welcome to heritage junior school</h2>

                            <!-- Divider -->
                            <hr class="hr-light">

                            <!-- Description -->
                            <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Deleniti
                                consequuntur.</h4>
                            <button type="button" class="btn btn-outline-white">Read more<i class="fa fa-book ml-2"></i></button>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!--/.Mask-->

    </header>
    <!--Main Navigation-->

    <!-- main content -->
    <div class="container pt-4">
        <div class="row">
            <div class="col-md-6">
                <h4>Welcome To Heritage School</h4>
                <hr>
                <p>Dedicated to Excellence</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa odio necessitatibus earum hic quis reiciendis modi dolores deserunt sunt expedita, vero aliquam voluptate cumque quod ea, quam ipsam laboriosam iure inventore quibusdam! Eaque aliquid magnam eligendi ex? Nobis nihil incidunt fuga quas nulla accusantium praesentium. Commodi ea, amet eligendi quibusdam ab porro? Doloribus quis pariatur commodi sequi. Sunt vitae ad ab? Quaerat temporibus impedit exercitationem aspernatur blanditiis nulla eveniet vitae quos fugit qui veniam expedita ea mollitia nobis assumenda eaque error voluptatum ulla</p>
                <a href="#" class="btn btn-sm btn-info">Read More</a>
            </div>
            <div class="col-md-6">
                <img src="https://images.unsplash.com/photo-1604134967494-8a9ed3adea0d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTZ8fHByaW1hcnklMjBzY2hvb2wlMjBwaG90b3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" width="100%" alt="">

            </div>
    
        </div>
    </div>

    <!-- word from the principle -->
    <div class="container pt-5">
        <!-- News jumbotron -->
        <div class="jumbotron text-center hoverable p-4">

            <!-- Grid row -->
            <div class="row">
        
                <!-- Grid column -->
                <div class="col-md-4 offset-md-1 mx-3 my-3">
            
                    <!-- Featured image -->
                    <div class="view overlay">
                    <img src="../../static/img/teacher.jpeg" class="img-fluid" alt="principle">
                    
                    </div>
            
                </div>
                <!-- Grid column -->
            
                <!-- Grid column -->
                <div class="col-md-7 text-md-left ml-3 mt-3">
                    <h3 class="h4 mb-4">Word From the Principle</h3>
                    <hr>
                    <p class="font-weight-normal">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque, totam
                    rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
                    <p class="font-weight-normal">By ~ <a><strong style="font-style: italic;">George Situma</strong></a></p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- News jumbotron -->
    </div>

    <!-- mission && vision -->
    <div class="container pt-4">
        <h3 class="text-center pb-2">Our mission vision & objectives</h3>
        <div class="row">
            <!-- first card -->
            <div class="col-md-4">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="../../static/img/International_School_Vision.png" height="210px" alt="Card image cap">
                
                    <!-- Card content -->
                    <div class="card-body">
                    <!-- Title -->
                    <h4 class="card-title"><a>Our Vision</a></h4>
                    <!-- Text -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <!-- Button -->
                    <a href="#" class="btn btn-sm btn-info">Read More</a>
                    </div>
                </div>
                <!-- Card -->
            </div>

            <!-- second card -->
            <div class="col-md-4">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="../../static/img/success1.jpg" height="180px" alt="Card image cap">
                
                    <!-- Card content -->
                    <div class="card-body">
                    <!-- Title -->
                    <h4 class="card-title"><a>Preparing our student for successfull future</a></h4>
                    <!-- Text -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <!-- Button -->
                    <a href="#" class="btn btn-sm btn-info">Read More</a>
                    </div>
                </div>
                <!-- Card -->
            </div>

            <!-- third card  -->
            <div class="col-md-4">
                <!-- Card -->
                <div class="card">
                    <!-- Card image -->
                    <img class="card-img-top" src="../../static/img/Learning-Objectives-target.jpg" height="210px" alt="Card image cap">
                
                    <!-- Card content -->
                    <div class="card-body">
                    <!-- Title -->
                    <h4 class="card-title"><a>Our Objective</a></h4>
                    <!-- Text -->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                        content.</p>
                    <!-- Button -->
                    <a href="#" class="btn btn-sm btn-info">Read More</a>
                    </div>
                </div>
                <!-- Card -->
            </div>
        </div>
    </div>

    <!-- photo collection -->
    <div class="container pt-4 pb-3">
        <h3 class="text-center">Photo collection</h3>
        <div class="row">
            <div class="col-md-4" id="img1">
                <div class="img1">
                    <img class="neymar3" width="100%" src="../../static/img/teacher.jpeg" alt="">
                    <div class="overlay">
                        <h3 class="text-center pt-3">Photo collection</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="img1">
                <div class="img1">
                    <img class="neymar3" width="100%" src="../../static/img/teacher.jpeg" alt="">
                    <div class="overlay">
                        <h3 class="text-center pt-3">Photo collection</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4" id="img1">
                <div class="img1">
                    <img class="neymar3" width="100%" src="../../static/img/teacher.jpeg" alt="">
                    <div class="overlay">
                        <h3 class="text-center pt-3">Photo collection</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}